/*****************************/
/* about / html_3.php / data-block="22" */
/*****************************/

.aboutUs22 {
	margin-top: 32px;
	margin-bottom: 32px;
}

/* 標題 */

.aboutUs22_top {
	margin: 24px 0;
}

.aboutUs22_top-secondMark {
	color: $common-color-gray_dark;
	font-size: $font-size-h3;
	position: relative;
	letter-spacing: 2px;
	width: max-content;
	margin: 0 auto 30px;
	padding: 0 70px;

	/* 文字旁符號 */
	&::after,
	&::before {
		content: "";
		position: absolute;
		top: 50%;
		z-index: 1;
		width: 40px;
		height: 1px;
		margin-top: -1px;
		border-top: 1px solid #1c1e21;
		border-bottom: 1px solid #1c1e21;
		pointer-events: none;
	}
}

/* 麵包屑 */
.breadCrumbs_link {
	text-align: left;
	vertical-align: middle;
	margin: 0;
	padding: 0;
	line-height: 170%;
	border-width: 0;
	font-size: $body-font-size;
	word-wrap: break-word;
	word-break: normal;
	transition: all 0.3s ease-out;

	ol {
		li {
			display: inline-block;
			letter-spacing: 0;
			color: $cis1;
			font-weight: 400;
			font-size: $body-font-size;

			a {
				color: inherit;
			}

			&:not(:last-child) {
				&::after {
					margin: 0 10px;
					font-weight: 300;
					font-size: $body-font-size;
					vertical-align: top;
					content: "/";
				}
			}
		}
	}
}

/* 方向 */
.aboutUs22 {
	font-family: "Oswald", sans-serif, "Noto Sans TC", "Noto Sans SC";
}

.aboutUs22_top-secondMark {
	&::before {
		left: 0;
	}
	&::after {
		right: 0;
	}
}

/* 內文 */

.aboutUs22_content {
	margin: 40px 0;
}

.aboutUs22_content-title {
	text-align: center;
	font-size: $font-size-h2;
	margin-bottom: 32px;
	padding-bottom: 40px;
	position: relative;
	font-weight: 800;
	line-height: 150%;

	&::after {
		content: "";
		position: absolute;
		left: 50%;
		top: 70%;
		bottom: 0;
		background-color: $common-color-gray_light;
		margin-left: -0.5px;
		width: 1px;
		height: 40px;
	}
}

.aboutUs22_content-content {
	width: 80%;
	margin: auto;
	text-align: center;
	word-break: break-all;
	padding: 0px 20px;
}

/* 圖文列 */
.aboutUs22_imgContent {
	z-index: 4;
	position: relative;
	width: 100%;
	padding: 48px 0;
	background-color: $common-color-white;
}

.aboutUs22_imgContent-img {
	ul {
		overflow: hidden;

		li {
			img {
				width: 100%;
				max-width: 100%;
			}
		}
	}
}

.aboutUs22_imgContent-text {
	z-index: 4;
	position: relative;
	width: 70%;
	padding: 48px 64px;
	margin-top: -240px;
	margin-left: 112px;
	background-color: $common-color-white;

	/* 文字 */
	.describe {
		h3 {
			font-size: $font-size-h3;
			color: #383737;
			font-weight: 600;
			padding-left: 32px;
			margin-bottom: 20px;
			border-left: 3px solid $cis3;
		}

		&_list {
			strong {
				font-size: 1.2rem;
				font-weight: 900;
				margin-top: 20px;
				display: inline-block;
				letter-spacing: 0.5px;
			}

			p {
				font-size: inherit;
				line-height: 180%;
				word-break: break-all;
			}
		}
	}
}

@media (max-width: 1200px) {
	.aboutUs22_imgContent {
		margin-left: 0;
	}
	.aboutUs22_imgContent-text {
		width: 80%;
		margin: -160px auto 0;
	}
}

@media (max-width: 992px) {
	.aboutUs22_imgContent-text {
		margin: -96px auto 0;

		.describe {
			h3 {
				font-size: 1.2rem;
				line-height: 150%;
				margin-bottom: 10px;
				margin: 0;
			}
		}
	}
}

@media (max-width: 768px) {
	.aboutUs22_content-title {
		font-size: 28px;
		margin-bottom: 10px;
		padding-bottom: 45px;
	}
}

@media (max-width: 576px) {
	.aboutUs22_content {
		margin: 24px 0;
	}
	.aboutUs22_content-content {
		width: 100%;
		padding: 0;
	}

	.aboutUs22_imgContent {
		padding: 16px 0;
	}
	.aboutUs22_imgContent-text {
		width: 100%;
		padding: 0;
		margin: 16px auto 0;
	}
}

//data-block="22" 結束


/*****************************/
/* about / html_3.php / data-block="23" */
/*****************************/
.sectionBlock_aboutUs23 {
    display: inline-block;
    width: 100%;
    position: relative;
    background-color: rgba(0, 0, 0, 0.78);
    text-align: center;
    margin-top: 75px;

    .sectionBlock_aboutUs23_container {
        width: 905px;
        display: inline-block;
        margin: 104px auto;

        h2 {
            font-size: $font-size-h1;
            color: white;
            font-weight: 100;
            display: block;
            opacity: 1;
        }
    }

    .block {
        display: block;
        font-size: $font-size-h2;
        color: white;
        padding-top: 110px;

        .box {
            display: inline-block;
            width: 100%;
            opacity: 0;
            padding-left: 50%;
            margin-bottom: 15px;
            position: relative;

            .imgs {
                width: 260px;
                height: 260px;
                float: left;
                display: block;
                background-repeat: no-repeat;
                background-color: $cis1;
                border-radius: 50%;
                background-position: bottom;
                transition: all 1.2s ease;
            }

            // 白底
            &.white {
                .imgs {
                    background-color: white;
                }
            }
            // ICON 顯示/置中
            &.active {
                opacity: 1;
                .imgs {
                    background-position: center;
                }
            }

            .text {
                position: absolute;
                right: -43px;
                text-align: left;
                display: table;
                height: 260px;
                width: 225px;
                line-height: 31px;
                letter-spacing: 2px;
                padding-left: 30px;

                .ta {
                    display: table-cell;
                    vertical-align: middle;

                    em {
                        font-size: $font-size-h3;
                        font-style: inherit;
                        margin-bottom: 19px;
                        display: block;
                    }
                }
            }

            span {
                position: absolute;
                width: 7px;
                height: 0;
                background-image: url('../images_v4/about/aboutUs23/dotted.png');
                background-size: 4px;
                background-repeat: repeat-y;
                background-position: center;
                left: 56%;
                top: 69%;
                transform: rotate(56deg);
                transform-origin: top;
                transition: all 0.8s ease;
            }

            &.hhh:first-child {
                span {
                    height: 276px;
                }
            }

            &:nth-child(even) {
                padding-left: 0;
                padding-right: 50%;

                .text {
                    right: auto;
                    left: 260px;
                }

                span {
                    height: 0;
                    left: 28%;
                    z-index: 5;
                    top: 88%;
                    transform: rotate(-57deg);
                }

                &.hhh {
                    span {
                        height: 250px;
                    }
                }
            }

            &:nth-child(odd) {
                span {
                    left: 50%;
                    z-index: 5;
                    top: 82%;
                    height: 0;
                }

                &.hhh {
                    span {
                        height: 256px;
                    }
                }
            }

            &:last-child {
                span {
                    display: none;
                }
            }
        }
    }

    @media (max-width: 1024px) {
        .sectionBlock_aboutUs23_container {
            width: 90%;
            max-width: 790px;
        }
        .block {
            .box {
                .imgs {
                    width: 26vw;
                    height: 26vw;
                    max-width: 210px;
                    max-height: 210px;
                }
                .text {
                    height: 26vw;
                    max-height: 210px;
                    width: 24%;
                    font-size: 23px;
                    line-height: 27px;
                    right: 0;
                }

                &:nth-child(even) {
                    .text {
                        left: 25%;
                    }
                }
            }
        }
    }

    @media (max-width: 768px) {
        .sectionBlock_aboutUs23_container {
            margin: 70px 0 20px;
        }
        .block {
            padding-top: 65px;
            .box {
                padding-left: 0;
                max-width: 395px;
                margin-bottom: 55px;

                &.hhh:nth-child(even),
                &.hhh:nth-child(odd) {
                    span {
                        transform: rotate(0);
                        height: 58px;
                        bottom: -59px;
                        top: auto;
                        left: 72px;
                    }
                }

                // 文字
                .text {
                    width: 200px;
                }

                &:nth-child(even) {
                    padding-right: 0;
                    .text {
                        left: auto;
                        right: 0;
                    }
                }
            }
        }
    }

    @media (max-width: 500px) {
        .sectionBlock_aboutUs23_container {
            margin: 70px 0 20px;

            h2 {
                font-size: $font-size-h2;
            }
        }

        .block {
            .box {
                margin-bottom: 35px;
                .imgs {
                    width: 70vw;
                    height: 70vw;
                    max-width: 200px;
                    max-height: 200px;
                    display: block;
                    margin: 0 auto;
                    float: none;
                }
                .text {
                    padding-left: 0;
                    max-height: 100%;
                    height: auto;
                    margin: 20px 0;
                    position: relative;
                    width: 100%;

                    .ta {
                        em {
                            display: none;
                        }
                        div {
                            width: 100%;
                            font-size: 19px;
                            text-align: center;
                            max-width: 183px;
                            margin-left: auto;
                            margin-right: auto;
                        }
                    }
                }

                &.hhh:nth-child(even),
                &.hhh:nth-child(odd) {
                    span {
                        left: 50%;
                        z-index: 55;
                        margin-left: -3.5px;
                    }
                }
            }
        }
    }
}


//data-block="23" 結束

/*****************************/
/* about / html_3.php / data-block="24" */
/*****************************/

.sectionBlock_aboutUs24 {
    .imgContent {
        margin-top: 80px;
        position: relative;

        .service_slogan {
            margin: 0 auto 100px auto;

            .slogan_pic {
                max-width: 100%;
                display: flex;
            }

            .slogan_text {
                position: absolute;
                right: 0px;
                bottom: -100px;
                font-size: $body-font-size;
                letter-spacing: 1px;
                line-height: 36px;
                box-shadow: -3px 3px 8px -4px rgb(0 0 0 / 12%);
                font-weight: 100;
            }

            .orange_slogan {
                padding: 40px;
                background: #ff9100;
                color: #fff;
                letter-spacing: 2px;
                line-height: 44px;
                font-weight: 100;
                font-size: $font-size-h2;
            }

            .white_slogan {
                padding: 40px;
                background: #fff;
                font-size: $font-size-h3;
                box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
            }
        }
    }
    .txtContent {
        margin-top: 80px;

        .tech_service {
            width: 100%;
            font-size: $body-font-size;

            .tech_service_list {
                padding-left: 0;
                list-style: none;
                font-size: inherit;
                letter-spacing: 1px;
                line-height: 30px;
                h3 {
                    font-size: $font-size-h3;
                    line-height: 36px;
                    letter-spacing: 2px;
                    padding-bottom: 10px;
                    border-bottom: 1px solid #ccc;
                    margin-bottom: 20px;
                    .icon_fix {
                        font-size: $font-size-h2;
                        img {
                            height: 30px;
                            width: 23px;
                        }
                    }
                }

                > li {
                    margin-bottom: 80px;
                    font-size: inherit;
                    letter-spacing: 1px;
                    line-height: 30px;
                    font-weight: 100;
                }

                ol {
                    padding-left: 22px;
                    margin-top: 10px;
                    list-style-type: auto;
                    li {
                        color: #666;
                    }
                }
            }
        }
    }

    @media (max-width: 850px){
        .imgContent {
            .service_slogan {

                .slogan_text {
                    position: relative;
                    width: 100%;
                    bottom: 0;
                    box-shadow: none;
                    text-align: center;
                }
            }
        }
    }

    @media (max-width: 576px){
        .imgContent {
            .service_slogan {
                margin: 0 auto;

                .white_slogan {
                    font-size: $body-font-size;
                }
            }
        }

        .txtContent {
            margin-top: 20px;

            .tech_service {
                font-size: $font-size-mb;
            }
        }
    }
}

//data-block="24" 結束


/*****************************/
/* about / html_3.php / data-block="25" */
/*****************************/
.sectionBlock_aboutUs25_container {
    .main_title {
        display: flex;
        justify-content: space-between;
        margin-bottom: 1.5rem;

        .title {
            &_main {
                font-size: 48px;
                font-weight: 700;
            }

            &_second {
                display: table;
                span {
                    position: relative;
                    padding-left: 165px;
                    font-size: 20px;
                    color: $text-color3;
                    font-weight: 700;

                    &::before {
                        content: "";
                        display: block;
                        width: 124px;
                        height: 1px;
                        background: #949494;
                        position: absolute;
                        left: 0;
                        top: 50%;
                        opacity: 0.3;
                    }
                }
            }
        }

        .btnLink {
            display: none;

            a {
                width: 200px;
                height: 50px;
                display: flex;
                justify-content: center;
                align-items: center;
                background: rgb(255, 213, 48);
                margin-right: auto;
                margin-left: auto;
                color: inherit;

                &:hover {
                    background: #fedf44;
                }
            }
        }
    }

    .main_content {
        margin-top: -60px;
        color: $text-color3;
        align-items: center;

        .item {
            border: 0;
            background: transparent;
            letter-spacing: inherit;
            align-items: center;
            color: inherit;
            flex-grow: 1;
            &:not(:disabled) {
                cursor: pointer;
            }

            &:hover {
                .text_box {
                    color: $text-color;
                }
            }

            .text_box {
                padding: 0 27px;
                transition: 0.3s;
                display: flex;
                text-align: center;
                justify-content: center;
                align-items: center;

                span {
                    display: block;
                    text-align: center;
                    &:nth-child(1) {
                        font-size: 18px;
                        line-height: 1;
                        font-weight: 700;
                        margin-right: 0.5rem;
                    }
                    &:nth-child(2) {
                        font-size: 40px;
                        line-height: 1;
                        margin-bottom: 1rem;
                    }
                    &:nth-child(3) {
                        font-size: 18px;
                        writing-mode: vertical-lr;
                        letter-spacing: 6px;
                        font-weight: 700;
                        font-family: "Noto Serif TC";
                    }
                }
            }

            .img_box {
                opacity: 0;
                width: 0;
                transition: opacity 0.6s;
                z-index: 1;
                padding-top: 0.5rem;

                .img_inner {
                    margin-right: 30px;
                    position: relative;

                    &::after {
                        content: "";
                        display: block;
                        position: absolute;
                        top: -10%;
                        left: -5%;
                        width: 95%;
                        height: 66%;
                        background: #ffd530;
                        z-index: -1;
                        opacity: 0;
                        transition: all 1s;
                    }
                }
            }
        }

        .active {
            .text_box {
                color: black;
            }

            .img_box {
                opacity: 1;
                width: 100%;
                position: relative;
                .img_inner {
                    &::after {
                        top: 10%;
                        left: 5%;
                        opacity: 1;
                    }
                }
            }
        }

        .icon {
            font-size: 36px;
            margin-left: auto;
            margin-right: auto;
            margin-top: 0.5rem;
            margin-bottom: 0.5rem;
        }
    }
    .mb_btn {
        padding-top: 1rem;
        margin-top: 1.5rem;
        margin-right: auto;
        margin-left: auto;
        display: table;
        .more {
            background: rgb(255, 213, 48);
            width: 180px;
            height: 45px;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 14px;
            transition: all 0.3s;

            &:hover {
                background: #fedf44;
            }
        }
    }

    @media (min-width: 768px) {
        .main_title {
            .title {
                &_main {
                    padding-bottom: 0;
                    margin-bottom: 1.5rem;
                }

                &_second {
                    padding-left: 3rem;
                    margin-left: 1.5rem;
                }
            }

            .btnLink {
                display: block;
            }
        }

        .main_content {
            display: flex;

            .item {
                display: flex;

                .text_box {
                    display: block;

                    span {
                        &:nth-child(1) {
                            margin-right: 0;
                        }
                        &:nth-child(2) {
                            margin-bottom: 0;
                            margin-right: 0;
                        }
                        &:nth-child(3) {
                            margin-top: 1rem;
                            margin-right: auto;
                            margin-left: auto;
                        }
                    }
                }

                .img_box {
                    .img_inner {
                        margin-top: 3rem;
                    }
                }
            }

            .icon {
                margin-top: 0;
                margin-bottom: 0;
                margin-right: 0;
                margin-left: 0;
                display: inline;
            }
        }
        .mb_btn {
            display: none;
        }
    }

    @media (max-width: 1200px) {
        .main_title {
            .title {
                &_main {
                    font-size: 42px;
                }
            }
        }

        .main_content {
            margin-top: 0;
            .item {
                width: auto;
                .text_box {
                    padding: 0 10px;
                    span {
                        &:nth-child(2) {
                            font-size: 36px;
                            margin-bottom: 0;
                        }
                    }
                }
                .img_box {
                    // height: 300px;
                }
            }
        }

        .icon {
            font-size: 20px;
        }
    }

    @media (max-width: 768px) {
        .main_title {
            .title {
                flex-grow: 1;
                &_main {
                    font-size: 30px;
                }

                &_second {
                    margin-left: auto;
                    div {
                        margin-left: auto;
                    }
                    span {
                        padding-left: 130px;
                        font-size: 16px;
                        &::before {
                            width: 108px;
                        }
                    }
                }
            }
        }
        .main_content {
            .item {
                width: 100%;
                .text_box {
                    span {
                        &:nth-child(2) {
                            font-size: 30px;
                        }
                        &:nth-child(3) {
                            letter-spacing: 1px;
                            writing-mode: initial;
                        }
                    }
                }
                .img_box {
                    height: 0px;

                    .img_inner {
                        margin-right: 0;
                    }
                }
            }

            .active {
                .img_box {
                    height: 300px;
                }
            }
        }

        .icon {
            font-size: 24px;
            display: flex;
            justify-content: center;
            align-items: center;

            &::before {
                transform: rotate(90deg);
            }
        }
    }

    @media (max-width: 576px) {
        .main_content {
            .active {
                .img_box {
                    height: 50vw;
                }
            }
        }
    }
}




//data-block="25" 結束

/*****************************/
/* about / html_3.php / data-block="26" */
/*****************************/

.sectionBlock_aboutUs26 {
    font-family: "Lato", arial, "文泉驛正黑", "WenQuanYi Zen Hei", "Heiti TC", "微軟正黑體", "Microsoft JhengHei";

    margin-bottom: 0;
    .title {
        color: #5d3919;
        font-size: 40px;
        font-weight: 300;
        text-transform: uppercase;
        letter-spacing: 0;
        line-height: 0.9;
        display: block;
        margin-top: 36px;
        margin-bottom: 36px;
        border-style: solid;
        border-width: 0 0 0 2px;
        border-color: #aa8358;
        padding-left: 0.5em;

        span {
            line-height: 0.9;
            display: inline-block;
            vertical-align: middle;
        }
        small {
            font-size: 21px;
            color: #b3b3b3;
            padding-left: 12px;
            vertical-align: middle;
        }
    }

    .content {
        // padding-left: 21px;
        // padding-right: 21px;
        .p-18 {
            padding: 18px;
        }
        .row{
            @media (max-width:$viewM) {
                padding-left: 36px;
                padding-right: 36px;
            }
        }
        .blockTitle {
            margin-bottom: 18px;
            font-weight: 300;
            font-size: 33px;
            color: #333;

            span.secondTitle {
                line-height: 1.35;
                font-weight: 300;
                font-size: 33px;
                color: #333;


            }

            small {
                display: block;
                font-size: 21px;
                color: #999;
                font-weight: 300;
                letter-spacing: 1px;

                line-height: 1.35;
            }

            &::after {
                content: "";
                display: block;
                width: 30px;
                height: 3px;
                background: #aa8358;
                margin-top: 18px;
            }
        }

        .content_txt {
            .txt {
                font-weight: 400;
                color: #333;
                font-size: 18px;
                line-height: 1.8;
                font-weight: initial;
                margin: 1em 0;
            }
        }
    }

    .aboutUs26-bg {
        background: url('../images_v4/about/aboutUs26/company2.png') left bottom no-repeat;
        
    }

    
}


//data-block="26" 結束