/*gisanfu*/
.google-submit{
       -moz-border-bottom-colors: none;
       -moz-border-end-color: #999999;
       -moz-border-image: none;
       -moz-border-left-colors: none;
       -moz-border-right-colors: none;
       -moz-border-start-color: #AFAFAF;
       -moz-border-top-colors: none;
       background: -moz-linear-gradient(#F1F1F1, #DFDFDF) repeat scroll 0 0 transparent;
       border-color: #CCCCCC #CCCCCC #999999;
       border-left: 1px solid #CCCCCC;
       border-right: 1px solid #CCCCCC;
       border-style: solid;
       border-width: 1px;
       box-shadow: 1px 1px 0 #E7E7E7, 0 1px 0 #FCFCFC inset, 0 -1px 0 #D7D7D7 inset;
       color: #000000;
       cursor: pointer;
       font-size: 1em;
       height: 26px;
       padding: 4px 8px;
}
