@charset "utf-8";


// =====================================================================================
// gotop (sideBtn)
// =====================================================================================
	
	$gotopType:1;  //1-圖 2-font ansome
	
	.gotop {		
		z-index: 2;
		right: 0;
		bottom:15%;  
		@extend %sideBtnType#{$gotopType};
	}

 