@charset "utf-8";

// =====================================================================================
// marqueeBlock
// =====================================================================================
	// 文字跑馬燈(單行顯示)
	$marqueeHeight:50px;
	.marqueeBlock {
		@media (min-width: $hamburgerPoint+1){
			
		    height: $marqueeHeight;
		    overflow:hidden;
			a{
			    display:block;  
			    line-height:$marqueeHeight;  
			    overflow:hidden;    
			}
		}
	}

	.marquee {	
		overflow: hidden;
		height: $marqueeHeight;
		position: relative;
		ul{
			@extend %listStyle;
			position: absolute;
			width:100%;

			li{
				width:100%;
				overflow: hidden;
				white-space: nowrap;
				text-overflow: ellipsis;
			}
		}
		@media (max-width: $hamburgerPoint){
			height: auto;
			ul{

				position: static;
				li{
					height: auto;
					white-space: normal;
					text-overflow:normal;
					padding-bottom: $space_smaller;
					margin-bottom: $space_smaller;

					// style
					border-bottom:1px solid lighten($text-color,70%);
					text-align: left;
				}
			}	
		}
	}