@charset "utf-8";



// =====================================================================================
// googleMap
// =====================================================================================
		.googleMap{
			&+footer{margin-top: 0;}

			width:100%;
			height:450px;
			
			iframe,
			#map{
				width:100%;height:100%;
			}
		}


