@charset "utf-8";

// =====================================================================================
// index - w09 原備前燒
// =====================================================================================
		

	.indexContent_9{
		position: relative;
		z-index: 1;
		.banner{
			z-index: 1000;
		}
		&+footer{margin-top:0;}
	}