@charset "utf-8";

// =====================================================================================
// index - w10 原 成綺空間 http://www.chang-interior.com/
// =====================================================================================

	.indexContent_10{

		margin-top:$space_biger;

		.indexAbout {
			.flex2cL1 {
						align-items:center;
				-webkit-align-items:center;
			}
		}
	
	}

