@charset "utf-8";

// =====================================================================================
// index - w16
// =====================================================================================
	.index footer{
		margin-top: 0;
	}
	.indexContent_16{
		margin-top: 36px;
		// .proList .itemList .item{
		// 	width: 100%;
		// }
		.articleBlockStyle03{
			margin-bottom: 0;
		}
	}

