.video .html5-videos a {
    cursor: pointer;
}

.video .html5-videos a .videoImg {
    position: relative;
    height: 0;
    padding-bottom: 75%;
    overflow: hidden;
}

.video .html5-videos a .videoImg img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.video .html5-videos a p,
.video .video-gallery a p {
    margin: 0;
}