@charset "utf-8";

body {
	color      : $text-color;
	font-size  : $body-font-size;
	font-family: $font-family;
	line-height: $line-height;
  font-weight: inherit;
}

h1,.h1 {font-size:$h1;}
h2,.h2 {font-size:$h2;}
h3,.h3 {font-size:$h3;}
h4,.h4 {font-size:$h4;}
h5,.h5 {font-size:$h5;}
h6,.h6 {font-size:$h6;}

@media (max-width: $viewS){ //768
	body{font-size:$font-size-mb;}
}

.strong_txt{
	font-weight: bold;
}
.common_bk_txt{
	color: $common-color-black;
	strong{
		font-weight: bold;
	}
	a,
	span{
		color: $text-color4;
	}
}
.common_red_txt{
	color: $common-color-red;
	strong{
		font-weight: bold;
	}
}
.common_gy_txt{
	color: $text-color4;
	strong{
		font-weight: bold;
	}
	a{
		color: $text-color4;
		text-decoration: underline;
	}
}
.common_wh_txt{
	color: #ffffff;
	strong{
		font-weight: bold;
	}
}
